@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css";



/* body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    background-color:rgb(29, 28, 28);
} */

.text {
	position: absolute;
	top: 40%;
	right: 50%;
	transform: translate(50%,-50%);
	/* color: $text; */
	max-width: 100%;
	/* padding: 2em 3em; */
	/* background: rgba(0, 0, 0, 0.4); */
	/* text-shadow: 0px 0px 2px #131415; */
	font-family: 'Open Sans', sans-serif;
}

#particles-js
{
    /* height: 100%; */
    width: 100%;
    height: 50%;
    background:rgb(29, 28, 28);
background-size:auto;
}




h1{
    font-size: 100px;
    font-weight: 600;
    color: white;
    font-family:'Times New Roman';
        top:50%;
        margin-top: 10%;
        text-align: center;
        align-content: center;
        vertical-align: middle;

        /* -ms-transform: translateX(35%); */
        /* transform:translateX(35%) */
    /*  */
}
h2{
    font-size: 30px;
    font-weight: 500px;
    color: white;
    font-family:'Times New Roman';
        top:50%;
        margin-top: 2%;
        text-align: center;
        align-content: center;
        vertical-align: middle;

        /* -ms-transform: translateX(35%); */
        /* transform:translateX(35%) */
    /*  */
}



button{
    /*Change the width as much as you like, but make sure 
    margin-left and margin-right + width = 100%*/
    /* width: 60%; */
    /* width: fit-content; */
    border-radius:10px;
    border-width: 4px;
    font-weight: 500;
    font-size: 20px;
    width: 100px;
    height: 50px;
    background-color: transparent;
    color:white;
    border-color: white;
	font-family: 'Open Sans', sans-serif; 
    align-content: center;
    /* margin-left:20%; */
    /* margin-right:20%; */
}

button:hover{
background-color: rgba( 14, 1, 1, 0.50 ); */
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 7.5px );

}


.vertical-center {
    margin: 0;
    position: absolute;
    top: 65%;
    -ms-transform: translateX(400%);
    transform:translateX(400%)
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}




.other-center {
    margin: 0;
    position: absolute;
    top: 65%;
    -ms-transform: translateX(700%);
    transform:translateX(700%);
}